<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="publishapp.dao.EventMapper">

	<resultMap type="event" id="result">
		<id property="id" column="id" />
		<result property="issueId" column="issueId" />
		<result property="crtDate" column="crtDate" />
		<result property="url" column="url" />

	</resultMap>

	<select id="getAllEvents" resultType="event" resultMap="result">
		SELECT *
		FROM event
	</select>
	<insert id="insertEvent" parameterType="event" keyProperty="id"
		useGeneratedKeys="true">
		INSERT INTO event(issueId, crtDate, url)
		VALUES(#{issueId}, #{crtDate}, #{url})
	</insert>

</mapper>