<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  <typeAliases>
     <typeAlias type="publishapp.entity.Employee" alias="employee"/>
     <typeAlias type="publishapp.entity.Event" alias="event"/>
  </typeAliases>  
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://aptaradb.c0vyw1qy1jt8.us-east-2.rds.amazonaws.com:3306/pcam_isuue?zeroDateTimeBehavior=convertToNull"/>
        <property name="username" value="root"/>
        <property name="password" value="abcdefgh"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="publishapp/dao/EmployeeMapper.xml" />
     <mapper resource="publishapp/dao/EventMapper.xml" />
  </mappers>
</configuration> 